# NOTE: Requires **VS2019 16.3** or later

# New Rule Set
# Description:  

# Code files
[*.{cs,vb}]


dotnet_diagnostic.SA1401.severity = none

dotnet_diagnostic.SA1600.severity = none

dotnet_diagnostic.SA1601.severity = none

dotnet_diagnostic.SA1633.severity = none

dotnet_diagnostic.SA1634.severity = none

dotnet_diagnostic.SA1635.severity = none

dotnet_diagnostic.SA1636.severity = none

dotnet_diagnostic.SA1637.severity = none

dotnet_diagnostic.SA1638.severity = none

dotnet_diagnostic.SA1640.severity = none

dotnet_diagnostic.SA1641.severity = none

dotnet_diagnostic.SA1101.severity = none

dotnet_diagnostic.SA1516.severity = none

dotnet_diagnostic.SA0001.severity = none

dotnet_diagnostic.SA1309.severity = none

dotnet_diagnostic.SA1028.severity = none

dotnet_diagnostic.SA1508.severity = none

dotnet_diagnostic.SA1402.severity = none
